__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

.venv

# Exclude sensitive environment variables and keys
.env
.env.*

# Exclude massive deep learning weights
*.safetensors
*.bin
*.pt
*.pth
*.pkl
