fastapi
uvicorn
streamlit
transformers
datasets
torch
accelerate
spacy
langchain
langchain-community
xgboost
shap
scikit-learn
pandas
numpy
pinecone
sentence-transformers
python-dotenv
requests
beautifulsoup4
langchain-anthropic
langchain-huggingface
evaluate
rouge-score
langchain-google-genai
